.promo-hero {
    background: rgba(255, 251, 27, 0.397);
    padding: 5px 5px 10px 35px;
}

.offer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 20px;
    background-color: white;
    padding: 15px 15px;
}

.offer-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80%;
    text-align: center;
    padding: 10px;
    gap: 5px;
}

.why-us-sec {
    background-color: #a7a5a560;
    padding-bottom: 5px;
}

.why-us-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.548);
} 